<%= title %>
<% for(var i=0; i<posts.length; i++) {
if (i % 3 == 0) { %>
<div class="row">
    <%} %>
    <div class="col-md-4">
        <h2><a href="/u/<%= posts[i].user %>"><%= posts[i].user %></a> 说</h2>
        <p><small><%= posts[i].time %></small></p>
        <p><%= posts[i].post %></p>
    </div>
    <% if (i % 3 == 2) { %>
</div><!-- end row -->
<% } %>
<%} %>
<% if (posts.length % 3 != 0) { %>
</div><!-- end row -->
<%} %>